:root {
    --side: linear-gradient(180deg, #f3f3f3 0%, #f3f3f3 35%, hsl(234, 82%, 67%) 35%, hsl(234, 82%, 67%) 50%, #ffffff00 50%, #ffffff00 100%);
    --unit: 10px;
    --piece-width: calc(6 * var(--unit));
    --piece-height: calc(8 * var(--unit));
}

/* piece: 4 units x 6 units x 8 unit */

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--piece-height);
    height: var(--piece-height);
    position: absolute;
    backface-visibility: inherit;
    font-size: calc(6 * var(--unit));
    color: magenta;
}

.face1 {
    width: var(--piece-width);
    transform: translateX(calc(1 * var(--unit))) translateZ(calc(4 * var(--unit)));
    background: white;
    /* so as to hide the back face even when the image is not loaded yet */
}

.face2 {
    width: var(--piece-width);
    background: hsl(234, 73%, 58%);
    transform: rotateY(180deg) translateX(calc(-1 * var(--unit)))
}

.side-faceA {
    background: var(--side);
    transform: rotateX(-90deg) rotateY(90deg) translateZ(calc(3 * var(--unit)))
}

.side-faceB {
    width: var(--piece-width);
    background: var(--side);
    transform: rotateY(180deg) rotateX(90deg) translateX(calc(-1 * var(--unit))) translateZ(calc(4 * var(--unit)))
}

.side-faceC {
    background: var(--side);
    transform: rotateX(-90deg) rotateY(-90deg) translateZ(calc(3 * var(--unit)))
}

.side-faceD {
    width: var(--piece-width);
    background: var(--side);
    transform: rotateX(-90deg) translateX(calc(1 * var(--unit))) translateZ(calc(4 * var(--unit)));
}