:root {
    --piece-margin: var(--unit) / 2;
    --piece-horizontal-stride: calc(var(--piece-width) + var(--piece-margin));
    --piece-vertical-stride: calc(var(--piece-height) + var(--piece-margin));
    --河-center-y: 850px;
    --河-center-x: 900px;

    /* 「自分の河の右上」と「下家の河の（自分から見た）左下の間」をどれくらい離すか */
    --corner-margin: 20px;

    --each-河-width: calc(6 * var(--piece-width) + 5 * var(--piece-margin));

    --自家-top: calc(var(--河-center-y) + var(--each-河-width) / 2 + var(--corner-margin));
    --自家-left: calc(var(--河-center-x) - var(--each-河-width) / 2 - var(--ad-hoc-offset));

    --下家-left: calc(var(--河-center-x) + var(--each-河-width) / 2 + var(--corner-margin));
    --下家-bottom: calc(var(--河-center-y) + var(--each-河-width) / 2 + var(--ad-hoc-offset));

    --対面-bottom: calc(var(--河-center-y) - var(--each-河-width) / 2 - var(--corner-margin));
    --対面-right: calc(var(--河-center-x) + var(--each-河-width) / 2 + var(--ad-hoc-offset));

    --上家-right: calc(var(--河-center-x) - var(--each-河-width) / 2 - var(--corner-margin));
    --上家-top: calc(var(--河-center-y) - var(--each-河-width) / 2 - var(--ad-hoc-offset));
}
